.searchInput{
    background-color: #D9D9D9;
    padding: 10px;
    border-top: 1px solid rgba(000, 000, 000, 0.5);
    border-left: 1px solid rgba(000, 000, 000, 0.5);
    border-bottom: 1px solid rgba(000, 000, 000, 0.5);
    border-right: none;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.searchInput::placeholder{
    font-weight: bold;
}

.searchInput:focus{
    outline: none;
}

.searchButton{
    background-color: #D9D9D9;
    padding: 10px;
    border-top: 1px solid rgba(000, 000, 000, 0.5);
    border-right: 1px solid rgba(000, 000, 000, 0.5);
    border-bottom: 1px solid rgba(000, 000, 000, 0.5);
    border-left: none;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.searchContainer{
    display: flex;
    justify-content: center;
}